@import 'tailwindcss';
@import "./burger.css";
@import '../../vendor/livewire/flux/dist/flux.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

@theme {

    --color-white-break: oklch(0.98 0.002 95);
    --color-main-blue: oklch(0.74 0.13 184);
    --color-orange-cta: oklch(0.73 0.21 57);

    --shadow-black-color: oklch(0 0 0 / 0.16);
    --shadow-black-sm: 0px 1px 4px var(--shadow-black-color);

    --shadow-color: oklch(0 0 0 / 0.16);
    --shadow-lg: 0px 8px 24px var(--shadow-color);
    --shadow-main-blue-lg: 0px 8px 16px oklch(from var(--color-main-blue) l c h / 0.2);

    --font-poppins: "Poppins", sans-serif;
    --font-fredoka: "Fredoka", sans-serif;

}

.nav-link {
    @apply text-3xl font-fredoka relative;

    &:before {
        content: '';
        @apply w-full h-0.5 absolute bottom-0 left-0 bg-orange-cta origin-center scale-x-0 rounded-lg duration-400
    }

    &:hover {
        @apply text-orange-cta
    }

    &:hover:before {
        @apply scale-100 duration-400
    }

    @apply md:text-xl
}
.filter_link {
    @apply relative text-gray-500 duration-400;
    &:before {
        content: '';
        @apply w-full h-0.5 absolute bottom-0 left-0 bg-orange-cta origin-center scale-x-0 rounded-lg duration-400
    }

    &:hover {
        @apply text-orange-cta duration-400
    }
    &:hover:before {
        @apply scale-100 duration-400
    }


}

.active {
    @apply text-orange-cta font-fredoka relative;

    &:before {
        content: '';
        @apply w-full h-0.5 absolute bottom-0 left-0 bg-orange-cta scale-x-100 rounded-lg

    }
}

.nav-link-admin {
    @apply text-xl font-fredoka duration-300;

    &:hover {
        @apply text-white bg-orange-cta duration-300;
    }
}

.active-admin {
    @apply bg-orange-cta text-white
}


strong {
    @apply text-orange-cta
}
label {
    @apply font-poppins;
}


.cta-primary, button[type="submit"] {
    @apply cursor-pointer font-fredoka text-white justify-center gap-3 items-center bg-orange-cta rounded-lg px-4 text-xl py-3 flex font-semibold duration-400 border-2 border-orange-cta;

    &:hover {
        @apply bg-white text-orange-cta  duration-400;
    }


}

.cta-secondary {
    @apply text-xl font-fredoka flex justify-center items-center bg-white rounded-lg px-4 py-3 font-semibold duration-400 border-2 border-orange-cta;

    &:hover {
        @apply bg-orange-cta text-white duration-400;
    }


}

img {
    width: 100%;
    height: auto;
}

.img-table {
    border-radius: 0.5rem;
    @media (min-width: 768px) {

        margin: auto;
        border-radius: 50%;
        object-fit: cover;
        width: 4rem;
        height: 4rem;

    }
}

.bg-paws {
    background-image: url('../../public/img/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-white-break {
    background: #F9F4F4;
}

.h2-landing {
    @apply font-fredoka text-5xl font-semibold leading-14
}

.h2-section {
    @apply font-fredoka text-4xl font-semibold leading-12
}
.h2-admin {
    @apply font-fredoka text-3xl font-medium leading-10


}

.h3-article {
    @apply font-fredoka text-3xl font-semibold leading-8
}


.item-adoption:nth-child(even) article > div:first-child {

    @apply md:order-2
}

.item-adoption:nth-child(odd) article > div:last-child {

    @apply md:order-1
}

article:has(.button-faq:checked) {
    @apply bg-white border-2 border-orange-cta;

    & h4 {
        @apply text-black;
    }
}

.button-faq {

    &:checked ~ p {
        @apply max-h-100 scale-y-100 mt-6;
    }

}

.caracteristic-animal {
    @apply text-xl border border-main-blue p-2 rounded-full
}

body:has(#burger__button:checked) {
    overflow: hidden;
}

legend {
    @apply font-poppins font-bold text-2xl w-full contents
}

input:focus, textarea:focus {
    @apply outline-0
}


